/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width-field {
  width: 100%;
}

.button-spinner {
  padding: 0.35rem 0.65rem;
}

.form-field-with-button .mat-form-field-suffix {
  top: 0 !important;
  padding-left: 1rem;
}

